
@font-face {
  font-family: 'Colus';
  src: url('../../public/fonts/Colus.ttf') format('truetype');
}
@font-face {
  font-family: 'Bellota-Italic';
  src: url('../../public/fonts/Bellota-Italic.ttf') format('truetype');
}
